.form {
    display: flex;
    justify-content: space-between;
}
.send_text {
    max-width: 85%;
    width: 100%;
}
.send_text textarea {
    width: 100%;
    height: 100px;
    display: block;
    margin: 0;
    padding: 5px;
    font-size: 15px;
    outline: none;
    resize: none;
}
.send_btn {
    max-width: 15%;
    width: 100%;
}
.send_btn button {
    width: 100%;
    outline: none;
    height: 100%;
}
