.navbar {
    grid-area: n;
    background: #3f4149;
    max-width: 230px;
    width: 100%;
    /* min-height: calc(100vh - 70px); */

    /* #363940 */
}
.navbar nav {
    padding: 20px 20px 0 20px;
}
.navbar ul {
    margin: 0;
    padding: 0;
    text-align: left;
}
.navbar li {
    list-style: none;
    margin-bottom: 5px;
}
.navbar a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    padding: 5px;
}
.navbar a:hover {
    background: rgba(0, 0, 0, 0.3);
}
.navbar a.active {
    color: #ec4d3b;
}
