.head_img img {
    width: 100%;
}
.content {
    padding: 20px;
    display: flex;
}

.right_side {
    margin-left: 50px;
}
.fullname {
    font-size: 20px;
}
.find_job {
    /* margin-top: 200px; */
}
.avatar img {
    max-width: 200px;
}
