* {
    box-sizing: border-box;
}
.app-wrapper {
    width: 100%;
}
.app-wrapper-content {
    background: #f8f8f8;
    width: 100%;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.main_inner {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 68px);
}
