.dialogs {
    display: flex;
    background: #dedede;
    padding: 20px 20px 300px 20px;
}
.dialogs_items {
    padding-left: 20px;
}
.dialog {
    margin-bottom: 10px;
}
.messages {
    padding-left: 100px;
}
