.dialogs {
    display: flex;
}
.dialogs_items {
    background: #fff;
    max-width: 280px;
    width: 100%;
    border-right: 2px solid gray;
}
.dialog {
    margin-bottom: 10px;
}
.messages {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: flex-end;
    min-height: calc(100vh - 68px);
}
.title {
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
